#Home #header {
  width: 100%;
  height: 39.91px;
  display: flex;
  justify-content: space-around;
  position: absolute;
}
#Home #header .header-loca {
  display: inline-block;
  max-width: 40%;
  height: 28px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 13px;
  position: relative;
  margin: 10px 12px 0 10px;
  padding: 0 5px;
}
#Home #header .header-loca .header-loca-text {
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  padding: 0 20px;
}
#Home #header .header-loca .header-loca-text .header-loc-txt-marquee {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 28px;
}
#Home #header .header-loca .icon-right {
  position: absolute;
  top: 7px;
  right: 4px;
  border: 7px solid #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
#Home #header .header-loca .icon-right-out {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 4px solid #b18822;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
#Home #header .header-search {
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 45%;
  height: 28px;
  background-color: #fff;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  margin: 10px 10px 0 0;
}
#Home #header .header-search .search-text {
  display: inline-block;
  font-size: 14px;
  color: #ccc;
  margin-left: 13px;
  line-height: 28px;
}
#Home .downBox {
  width: 100%;
  height: auto;
  min-height: 100px;
}
#Home .downBox .down .baitem {
  display: block;
  overflow: hidden;
}
#Home .downBox .down .baitem img {
  display: block;
  width: 100%;
  height: auto;
  border: none;
}
